<form action="/answer">
  <label for="question">Ask your coach anything:</label>
  <div>
    <input type="text" name="question" class="input">
    <input type="submit" value="Ask!" class="submit">
  </div>
</form>
